@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .left-animate {
    animation: slideInLeft 0.8s ease-out forwards;
  }
  
  .right-animate {
    animation: slideInRight 0.8s ease-out forwards;
  }
  @keyframes slideInUp {
    0% {
      transform: translateY(20px); /* Desde abajo */
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slideInUp {
    animation: slideInUp 0.8s ease-out forwards;
  }